$color-black: #5d596c;
$color-white: #ffffff;
$color-grey: #6f6b7d;
$color-light-grey: #adadad;
$color-green: #28c76f;
$color-red: #ea5455;
$color-purple: #2675ca;
$color-yellow: #ff9f43;
$color-blue: #00cfe8;
$color-pink: #fde3fd;
$color-bg-grey: #f8f7fa;
$color-light-purple: #eae8fd;
$color-light-yellow: #fff1e3;
$color-light-red: #fce5e6;
$color-light-blue: #d9f8fc;
$color-dark:#212529;